---
layout: layouts/base.njk
templateClass: tmpl-page
permalink: /{{ eleventyNavigation.key | slug }}/
---

<article>
  {% Heading {
    title: publicTitle,
    subtitle: description,
    imageSrc: coverImage.src,
    imageAlt: coverImage.alt,
    imageCaption: coverImage.caption,
    imageAttribution: coverImage.attribution,
    className: 'heading--page'
  } %}

  <div class="content inner">
    <div class="prose-body">
      {{ content | safe }}
    </div>
  </div>
</article>
