---
layout: layouts/base.njk
templateClass: tmpl-post
permalink: /{{ dictionary.content.articles.slug }}/{{ page.fileSlug }}/
---

<article>
  {% Heading {
    title: title,
    subtitle: description,
    machineDate: date | machineDate,
    readableDate: date | readableDate,
    imageSrc: coverImage.src,
    imageAlt: coverImage.alt,
    imageCaption: coverImage.caption,
    imageAttribution: coverImage.attribution,
    className: 'heading--post'
  } %}

  <div class="content inner">
    <div class="prose-body">
      {{ content | safe }}
    </div>
  </div>
</article>

{%- include "partials/postnav.njk" -%}
{%- include "partials/subscribe.njk" -%}
