<footer class="site-footer text-white bg-gray-900" role="contentinfo">
  <div class="inner">
    <div class="site-footer__links">
      {%- include "partials/menu.njk" -%}
      {%- include "partials/contact.njk" -%}
    </div>

    <p class="copyright">{{ metadata.title }} © 2021</p>
  </div>
</footer>
