<div class="subscribe">
  <div class="inner">
    <h3 class="font-display mb-4 text-4xl">{{ dictionary.subscribe.title }}</h3>
    <div class="subscribe__body">
      <p>{{ dictionary.subscribe.body }}</p>
      <a
        class="subscribe__link"
        rel="noopener noreferrer"
        href="http://eepurl.com/gNzLRz"
        target="_blank">
          {{ dictionary.subscribe.link }}
      </a>
    </div>
  </div>
</div>
